* {
    margin: 0;
    padding: 0;
}

#terminal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 60px;
    height: 100%;
    background: #505050;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    writing-mode: vertical-lr;
    text-indent: 16px;
    line-height: 60px;
    font-size: 28px;
    color: white;
    letter-spacing: 2px;
}

#main-contain {
    margin: 20px 0 0 80px;
}

.material {
    --rarity-gray: #a7a7a7;
    --rarity-green: #e4ed3c;
    --rarity-blue: #03b7ff;
    --rarity-purple: #dfccdf;
    --rarity-gold: #ffcf00;
    --title-height: 64px;

    float: left;
    margin: 0 20px 20px 0;
    padding: 16px 16px 20px;
    width: 200px;
    height: 152px;
    zoom: 90%;
    background: linear-gradient(-135deg, #181818, #484848);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    color: white;
}

.material .material-icon {
    float: left;
    width: var(--title-height);
    height: var(--title-height);
    background-size: contain;
}

.material .material-name {
    margin-bottom: 10px;
    text-align: right;
    line-height: var(--title-height);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}

.material .material-level {
    --li-height: 26px;
    --tribulation: #b51e1e;

    display: grid;
    grid-template-columns: 40px auto 40%;
    line-height: var(--li-height);
}

.material-level .level-cost {
    position: relative;
    transform: scale(66%);
    border-radius: 4px;
    background: linear-gradient(-135deg, var(--tribulation), #500000);
    text-align: center;
}

.level-cost .cost-title {
    position: absolute;
    top: -18px;
    left: 0;
    zoom: 40%;
    width: 100%;
    letter-spacing: 4px;
}

.level-cost .cost {
    position: absolute;
    bottom: -4px;
    left: 0;
    zoom: 90%;
    width: 100%;
}

.material-level .level-code {
    text-indent: 2px;
}

.material-level .tribulation {
    color: var(--tribulation);
}

.material-level .rare {
    background: linear-gradient(90deg, var(--rarity-purple), transparent);
}

.material-level .level-exceptation {
    text-align: right;
}